<section class="card">
    <div class="card-body"> 
        <h1>About</h1>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo necessitatibus, ipsam neque eveniet natus voluptates saepe iusto voluptate, omnis veniam dolor ad distinctio quia fuga ab. Soluta quas placeat itaque.
    </p></div>
</section>